* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid rgb(27, 26, 26);
    margin-bottom: 10px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(19, 17, 17);
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 10px;
  }
  
  #myTable tr {
    border-bottom: 1px solid rgb(14, 13, 13);
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #99a3a5;
  }